.color_custome {
    color: #5d4020 !important;
}
.custome_bg {
    background-color:#5d4020 !important;
}
.heigh_custome{
    height:400px !important;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on small screens */
    
}

.div1 {
    flex: 1 1 35%; /* Take 1/4 of the width */
    padding: 20px;
    box-sizing: border-box;
}

.div2 {
    flex: 1 1 65%; /* Take 3/4 of the width */
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .div1,
    .div2 {
        flex: 1 1 100%; /* Full width on smaller screens */
    }
}
@media only screen and (min-width: 768px) {
    .parent:hover .child {
        opacity: 1;
        height: auto;
        overflow: none;
        transform: translateY(0);
    }

    .child {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transform: translateY(-10%);
    }
}